* {
    background-color: #add8e6;
}

#square {
    width: 100px;
    height: 100px;
    background-color: red;
    border: transparent;
    top: 300px;
    margin-left: auto;
    margin-right: auto; 
}
