* {
    background-color: #add8e6;
}

#square {
    width: 1000px;
    height: 1000px;
    background-color: white;
    border: transparent;
    border-radius: 5%;
    top: 300px;
    margin-left: auto;
    margin-right: auto; 
}
.text {
    background-color: transparent;
}
#image {
    object-fit: cover;
    width: 25%;
    height: 25%;
}

