* {
    background-image: url(Light_blue.png);
}

#square {
    width: 100px;
    height: 100px;
    background-color: white;
    border: transparent;
    top: 300px;
    margin-left: auto;
    margin-right: auto; 
}
